<% if(flashMessageInfo){ %>
<div id="flash-message-info" class="alert alert-success alert-dismissible">
  <button style="padding: 0.45rem 0.45rem;" id="close-flash-message-info" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%- flashMessageInfo %>
</div>
<% } %>