<% if(flashMessage){ %>
<div style="white-space: pre-line;" id="flash-message" class="alert alert-danger alert-dismissible">
  <button style="padding: 0.45rem 0.45rem;" id="close-flash-message" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%- flashMessage %>
</div>
<% } %>