<!-- Header -->
<header class="shadow-sm">
  <div id="header">
    <header class="navbar navbar-expand-md fixed-top">

      <h2 style="margin-left: 30%;" class="text-primary"><%= pageTitle  %></h2>

      <div class="w-100 user-info d-none d-lg-flex justify-content-end align-items-center item-icon-header">

        <div class="ml-15px text-header header-username">
          <% if(loginUser) { %>
          <div class="d-flex align-items-center">
            <a style="padding: 7px; color: #4D5F71; font-size: 1.2rem;" id="navbarDropdownUser" class="d-inline-block mr-2 font-weight-bold" data-toggle="dropdown">
              <%= loginUser.name %>
            </a>

            <a href="/logout" type="button" class="button btn-logout" style="color: #BF474D;">Logout</a>
          </div>

          <% } else { %>
          <a href="/login" style="color: #01a2e7; line-height: 40px; text-decoration: none;">ログイン</a>
          <% } %>
        </div>
      </div>
    </header>
  </div>
</header>