<% if (loginUser.name) { %>
<div class="left-menu order-2 order-lg-0">
  <div style="height: 100vh;" class="left-menu-item left-menu-item-first">
    <a style="text-decoration: underline;" class="h5" href="/user">
      User List
    </a>

    <% if(loginUser.position_id == 0){ %>
    <a style="text-decoration: underline;" class="h5" href="/group">
      <span class="">Group List</span>
    </a>
    <% } %>
  </div>

  <div class="left-menu-item display-none" id="logout-menu-item">
    <a href="/logout?">
      <i class="fa fa-sign-out"></i>
      <span class="left-menu-item-label">Logout</span>
    </a>
  </div>
</div>
<% } %>