<!-- Header -->
<header>
  <div id="header">
    <header class="navbar navbar-expand-md fixed-top">
      <div class="w-100 user-info d-none d-lg-flex justify-content-end align-items-center item-icon-header">
        <!-- <h3 class="ml-5">Intern Training</h3> -->

        <div class="ml-15px text-header header-username">
          <% if(username) { %>
          <ul class="navbar-nav">
            <li class="dropdown cursor-pointer">
              <a style="padding: 7px;" id="navbarDropdownUser" class="d-inline-block mr-2" data-toggle="dropdown">
                <%= username %>
              </a>
            </li>

            <li class="dropdown cursor-pointer">
              <a href="/logout" type="button" class="button btn-logout" style="color: #BF474D;">Logout</a>
            </li>
          </ul>

          <% } else { %>
          <a href="/login" style="color: #01a2e7; line-height: 40px; text-decoration: none;">ログイン</a>
          <% } %>
        </div>
      </div>
    </header>
  </div>
</header>